@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Resumé";
}

<div class="text-center">
    <h2>My Resumé</h2>
    <p class="lead">Click below to view or download my resume.</p>

    <a href="~/files/tMPA_Application_Resume_Template.pdf" target="_blank" class="btn btn-primary m-2">
        View Resumé (PDF)
    </a>

    <a href="~/files/tMPA_Application_Resume_Template.pdf" download class="btn btn-outline-secondary m-2">
        Download Resumé
    </a>
</div>
