<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/ea9661e1-b0d8-4542-a7ee-9597a9fea994/resourceGroups/FA25UdayAulakhExtraCredit_group/providers/Microsoft.Web/sites/FA25UdayAulakhExtraCredit</ResourceId>
    <ResourceGroup>FA25UdayAulakhExtraCredit_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fa25udayaulakhextracredit.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fa25udayaulakhextracredit.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>REDACTED</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>